body{
  background-image: url("header.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  align-content: center;
}
/*.bg {
  border: 3px rgba(0, 0, 0,0.5);
  background-color: rgba(0, 0, 0,0.5);
}*/
.bg img{
    padding: 100px 500px 0 520px;
}

.container{
  padding: 0px 500px 200px 570px;
}
.container label {
  color: white;
}
h1 {
  text-align: center;
}
/* Full-width inputs */
input[type=text], input[type=password] {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  /*display: inline-block;*/
  border: 1px solid #ccc;
  box-sizing: border-box;
  align-content: center;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
